<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application name="ComponentHost">
      <service>
        <wellknown mode="SingleCall" type="MyRemoteObject.Greetings, MyRemoteObject" objectUri="Greetings.rem" />
      </service>
      <service>
        <wellknown mode="SingleCall" type="MyRemoteObject.CreateFolder, MyRemoteObject" objectUri="CreateFolder.rem" />
      </service>
      <channels>
        <channel ref="tcp" port="8737" />
      </channels>
    </application>
  </system.runtime.remoting>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>