<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="RemotingClient">
      <client url="tcp://172.27.113.143:8737/CreateFolder.rem">
        <activated type="MyRemoteObject.CreateFolder,MyRemoteObject" />
      </client>
      <client url="tcp://172.27.113.143:8737/Greetings.rem">
        <activated type="MyRemoteObject.Greetings,MyRemoteObject" />
      </client>
    </application>
  </system.runtime.remoting>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>